* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 62.5%;

  width: 100%;
  min-height: 100vh;
  background: url(./img/background\.png) no-repeat center center/ cover;

  color: #ddd;
}

header {
  width: 100%;
  font-size: 1.6em;
  border-bottom: 1px solid #cffbf638;
  padding: 20px 0 16px 20px;
}
main h2 {
  font-size: 2.5em;
}

main {
  width: min(35rem, 100%);

  background: #ffffff10;

  border-radius: 20px;
  border: 2px solid #ffffff30;

  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;

  padding: 30px 50px 0 50px;

  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
main .animation {
  font-size: 1.6em;
}
section {
  width: 100%;
}

div.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h4 {
  font-size: 1.6em;
}

#search-input {
  width: 350px;
  height: 50px;

  margin-top: 10px;
  margin-right: 10px;

  font-size: 1.5em;

  padding-left: 16px;

  outline: none;
  width: 350px;
  height: 50px;
  border-radius: 5px;
}

#filter-select {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

h2 {
  padding-left: 10px;
}

.input form {
  display: flex;
  align-items: flex-start;
  border-radius: 0;
}

button {
  width: 0;
  cursor: pointer;
}

#tasks {
  font-size: 1.5em;

  padding-left: 16px;

  outline: none;

  width: 350px;
  height: 50px;
  border-radius: 5px;
}

ul {
  list-style: none;
  font-size: 1.9rem;
}

li {
  display: flex;

  justify-content: flex-start;
  width: 350px;
  height: 50px;
  background-color: #262c2cab;
  align-items: center;

  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 10px;
}

.list label {
  width: 243px;
  padding-left: 10px;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid turquoise;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox:before {
  content: "";
  width: 15px;
  height: 15px;
  background: turquoise;
  border-radius: 50%;
  opacity: 0;
  transition: all 600ms ease-in-out;
  position: absolute;
}

.checkbox:before {
  border-radius: 0;
  background: transparent;
  border: 4px solid turquoise;
  border-left: 0;
  border-top: 0;
  width: 7px;
  height: 12px;
  transform: rotate(45deg);
  top: 2px;
}

.checkbox:checked:before {
  opacity: 1;
}

.checkbox:focus {
  box-shadow: 0 0 5px turquoise;
}
.fa-x::before {
  content: "\f00d";
}

.delete {
  font-size: 2rem;

  background-color: transparent;
  box-shadow: 0 0 1px #03e9f4, 0 0 8px #03e9f4, 0 0 12px #03e9f4, 0 0 6px #03e9f4;
  border-radius: 8px;
  color: #fff;

  width: 26px;
  height: 26px;

  margin-right: 8px;
  margin-left: 30px;

  transition: 0.5s;

  text-decoration: none;
}

.deletes {
  background: #03e9f485;
  box-shadow: 0 0 16px #03e9f4, 0 0 4px #03e9f4, 0 0 5px #03e9f4, 0 0 9px #03e9f4;
}

button.delete svg path {
  transition: all 0.2s ease 0s;
}

button.delete path {
  fill: #fff;
}

.delete svg {
  width: 13px;
}
button.add:hover path {
  opacity: 0.6;
}

.warning {
  font-size: 1.7em;
  padding-left: 25px;
  padding-bottom: 40px;
}

.disabled {
  display: none;
}

/* button */

.user-box .animation {
  position: relative;
  display: inline-block;
  padding: 15px 17px;
  color: #03e9f4;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 8px;
  letter-spacing: 2px;
}

.user-box .animation:hover {
  margin-left: 10px;
  background: #03e9f485;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 16px #03e9f4, 0 0 4px #03e9f4, 0 0 5px #03e9f4, 0 0 9px #03e9f4;
}

.user-box .animation span {
  position: absolute;
  display: block;
}
.user-box .animation span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  border: 20px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.user-box .animation span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}
.user-box .animation span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.user-box .animation span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* Checked */

.done {
  border: 1px solid #03e9f4;
  color: #fff;
  text-decoration: line-through;

  font-style: italic;
}

.no-select {
  pointer-events: none;
}

/* Responsividade */

@media (min-width: 320px) and (max-width: 520px) {
  main {
    width: min(19rem, 100%);
    padding: 30px 31px 0 17px;
  }

  main h2 {
    font-size: 1rem;
  }

  #tasks {
    width: 11rem;
    height: 3rem;
  }

  .user-box .animation {
    width: 83px;
    position: relative;
    display: inline-block;
    padding: 16px 0px;
    margin-left: 0;

    background: #03e9f485;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 16px #03e9f4, 0 0 4px #03e9f4, 0 0 5px #03e9f4, 0 0 9px #03e9f4;

    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 5px;
    letter-spacing: -1px;
  }

  #search-input {
    width: 11rem;
    height: 3rem;
  }

  .warning {
    font-size: 1.2em;
  }

  li {
    width: 11rem;
    height: 3rem;

    font-size: 0.6em;
  }

  .delete {
    font-size: 1rem;

    width: 88px;
    height: 23px;
  }
  .checkbox {
    width: 27px;
    height: 28px;
  }

  .checkbox:before {
    width: 5px;
    height: 10px;
  }
}

@media (min-width: 521px) and (max-width: 768px) {
  main {
    width: min(31rem, 100%);
    padding: 30px 38px 0 30px;
    /* background-color: #fff; */
  }
  .user-box .animation {
    width: 83px;

    margin-left: 0;

    background: #03e9f485;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 16px #03e9f4, 0 0 4px #03e9f4, 0 0 5px #03e9f4, 0 0 9px #03e9f4;

    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 5px;
    letter-spacing: -1px;

    padding: 17px 10px;

    letter-spacing: -1px;
    width: 93px;
  }

  li {
    width: 22rem;
    height: 3rem;

    font-size: 0.6em;
  }
  .delete {
    font-size: 1rem;

    width: 29px;
    height: 30px;
  }
}

@media (min-width: 768px) {
  .delete {
    font-size: 1rem;

    width: 29px;
    height: 30px;
  }

  li{
    font-size: .6em;
  }
}
